h1{
	font-family: "Verdana", Sans-Serif;
	color: black;
}
a{
	text-decoration: none;
	color: #000000;
	padding "7px 10 px 3px 10px";
	}
nav{
		padding: 20px 0 20px 10px
		margin-top: -20px;
		}
		
table{
	border: 2px solid #CB970F;
	border-radius: 5px;
	box-shadow: 5px 7px 10px #aaa;
	-webkit-box: -5px 7px set-box: shadow: 5px 7px 10px #aaa;
	
}
posicao{
    position: relative;
    width: 0px;    
    height: 20px;
	}	
	
desloca{
position: relative;
width: -50px;
}

ima{
	float: left-side;
}

strong{
	position: relative;
	left: 120px;
	top: -110px;
}

b{
	position: relative;
	left: 320px;
	top: -170px;
}
c{
	position: relative;
	top: -50px;
	text-align: center;
}
  	
	
relativo {
    position: relative;
    top: 30px;
   
}

cores{
<<<<<<< HEAD
	position: asbsolute;
	top: -40px;
	right: 80px;
	}
=======
	position: relative;
	top: 0px;
	right: 0px;
	
}

b{
	position: relative;
	top: -35px;
	right: -300px;
}

cia{
	position: relative;
	top: -30px;
	right: -400px;
}

dia{
	position: relative;
	top: -30px;
	right: -500px;
}

